<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="col-sm-12">
    <label for="nome" [ngClass]="aplicaCssErro('nome')">Nome</label>
  </div>
  <div class="col-sm-12">
    <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome"
      [ngClass]="aplicaCssErro('nome')">
    <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório">
    </app-campo-control-erro>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com"
        [ngClass]="aplicaCssErro('email')">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email é Obrigatório">
      </app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email inválido">
      </app-campo-control-erro>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="form-group row" [ngClass]="aplicaCssErro('endereco.cep')">
      <div class="col-sm-3">
        <label for="cep" class="col-sm-3 col-form-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep" (blur)="consultaCEP()">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="col-sm-3" [ngClass]="aplicaCssErro('endereco.numero')">
        <label for="numero" class="col-sm-3 col-form-label">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="col-sm-6">
        <label for="complemento" class="col-sm-3 col-form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>
    </div>

    <div class="form-group row" [ngClass]="aplicaCssErro('endereco.rua')">
      <label for="rua" class="col-sm-12 col-form-label">Rua</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="rua" formControlName="rua">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório">
        </app-campo-control-erro>
      </div>
    </div>

    <div class="form-group row" [ngClass]="aplicaCssErro('endereco.bairro')">
      <div class="col-sm-5">
        <label for="bairro" class="col-sm-3 col-form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="col-sm-4" [ngClass]="aplicaCssErro('endereco.cidade')">
        <label for="cidade" class="col-sm-3 col-form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" formControlName="cidade">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="col-sm-3" [ngClass]="aplicaCssErro('endereco.estado')">
        <label for="estado" class="col-sm-3 col-form-label">Estado</label>
        <select class="form-control" id="estado" formControlName="estado">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório">
        </app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="fom-group row" row>
    <div class="col-sm-3" [ngClass]="aplicaCssErro('cargo')">
      <label for="cargo" class="col-sm-3 col-form-label">Cargo</label>
      <select class="form-control" id="cargo" formControlName="cargo" [compareWith]="CompararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-sm-3" [ngClass]="aplicaCssErro('tecnologias')">
      <label for="tecnologias" class="col-sm-3 col-form-label">Tecnologias</label>
      <select multiple class="form-control" id="tecnologias" formControlName="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>

    <div class="col-sm-6" [ngClass]="aplicaCssErro('newsletter')">
      <label for="newsletter" class="col-sm-3 col-form-label">Newsletter</label>
      <div class="form-check form-check-inline" col-sm-4 *ngFor="let item of newsletterOp">
        <label class="form-check-label" for="inlineCheckbox1">
          <input class="form-check-input" type="radio" formControlName="newsletter" [value]="item.valor">
          {{ item.desc }}</label>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary mb-2">Submit</button>
  <!-- <button type="submit" class="btn btn-primary mb-2" [disabled]="!formulario.valid">Submit</button> -->
  <button type="button" class="btn btn-secondary mb-2" (click)="resetar()">Cancelar</button>
  <button type="button" class="btn btn-info mb-2" (click)="setarCargo()">Cargo</button>
  <button type="button" class="btn btn-info mb-2" (click)="setarTecnologias()">Tecnologias</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
