<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Forms</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="/templateForm">Form - Template Driven <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/dataForm">Form - Data Driven(Reativo)</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
